Terraform/Terraform Transformation/glue_step_function.json
{
  "Comment": "Step Function for AWS Glue Jobs with Error Handling (No Lambda, ap-southeast-1)",
  "StartAt": "Check_Run_Mode",
  "States": {
    "Check_Run_Mode": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.runOnly",
          "StringEquals": "crawler",
          "Next": "Start_customer360_crawler"
        }
      ],
      "Default": "Start_pre_processing"
    },

    "Start_pre_processing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "pre_processing"
      },
      "ResultPath": "$.PreProcessingJobRunId",
      "Next": "Wait_pre_processing"
    },
    "Wait_pre_processing": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_pre_processing"
    },
    "Check_pre_processing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "pre_processing",
        "RunId.$": "$.PreProcessingJobRunId.JobRunId"
      },
      "ResultPath": "$.PreProcessingStatus",
      "Next": "Evaluate_pre_processing"
    },
    "Evaluate_pre_processing": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PreProcessingStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_purchase_behavior"
        },
        {
          "Variable": "$.PreProcessingStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_pre_processing"
        }
      ],
      "Default": "Wait_pre_processing"
    },
    "Fail_pre_processing": {
      "Type": "Fail",
      "Error": "PreProcessingJobFailed",
      "Cause": "The Glue job 'pre_processing' failed."
    },

    "Start_purchase_behavior": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "purchase_behavior"
      },
      "ResultPath": "$.PurchaseBehaviorJobRunId",
      "Next": "Wait_purchase_behavior"
    },
    "Wait_purchase_behavior": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_purchase_behavior"
    },
    "Check_purchase_behavior": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "purchase_behavior",
        "RunId.$": "$.PurchaseBehaviorJobRunId.JobRunId"
      },
      "ResultPath": "$.PurchaseBehaviorStatus",
      "Next": "Evaluate_purchase_behavior"
    },
    "Evaluate_purchase_behavior": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PurchaseBehaviorStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_churn_prediction"
        },
        {
          "Variable": "$.PurchaseBehaviorStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_purchase_behavior"
        }
      ],
      "Default": "Wait_purchase_behavior"
    },
    "Fail_purchase_behavior": {
      "Type": "Fail",
      "Error": "PurchaseBehaviorJobFailed",
      "Cause": "The Glue job 'purchase_behavior' failed."
    },

    "Start_churn_prediction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "churn_prediction"
      },
      "ResultPath": "$.ChurnPredictionJobRunId",
      "Next": "Wait_churn_prediction"
    },
    "Wait_churn_prediction": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_churn_prediction"
    },
    "Check_churn_prediction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "churn_prediction",
        "RunId.$": "$.ChurnPredictionJobRunId.JobRunId"
      },
      "ResultPath": "$.ChurnPredictionStatus",
      "Next": "Evaluate_churn_prediction"
    },
    "Evaluate_churn_prediction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ChurnPredictionStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_omni_channel_engagement"
        },
        {
          "Variable": "$.ChurnPredictionStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_churn_prediction"
        }
      ],
      "Default": "Wait_churn_prediction"
    },
    "Fail_churn_prediction": {
      "Type": "Fail",
      "Error": "ChurnPredictionJobFailed",
      "Cause": "The Glue job 'churn_prediction' failed."
    },

    "Start_omni_channel_engagement": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "omni_channel_engagement"
      },
      "ResultPath": "$.OmniChannelJobRunId",
      "Next": "Wait_omni_channel_engagement"
    },
    "Wait_omni_channel_engagement": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_omni_channel_engagement"
    },
    "Check_omni_channel_engagement": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "omni_channel_engagement",
        "RunId.$": "$.OmniChannelJobRunId.JobRunId"
      },
      "ResultPath": "$.OmniChannelStatus",
      "Next": "Evaluate_omni_channel_engagement"
    },
    "Evaluate_omni_channel_engagement": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.OmniChannelStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_fraud_detection"
        },
        {
          "Variable": "$.OmniChannelStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_omni_channel_engagement"
        }
      ],
      "Default": "Wait_omni_channel_engagement"
    },
    "Fail_omni_channel_engagement": {
      "Type": "Fail",
      "Error": "OmniChannelJobFailed",
      "Cause": "The Glue job 'omni_channel_engagement' failed."
    },

    "Start_fraud_detection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "fraud_detection"
      },
      "ResultPath": "$.FraudDetectionJobRunId",
      "Next": "Wait_fraud_detection"
    },
    "Wait_fraud_detection": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_fraud_detection"
    },
    "Check_fraud_detection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "fraud_detection",
        "RunId.$": "$.FraudDetectionJobRunId.JobRunId"
      },
      "ResultPath": "$.FraudDetectionStatus",
      "Next": "Evaluate_fraud_detection"
    },
    "Evaluate_fraud_detection": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.FraudDetectionStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_pricing_trends"
        },
        {
          "Variable": "$.FraudDetectionStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_fraud_detection"
        }
      ],
      "Default": "Wait_fraud_detection"
    },
    "Fail_fraud_detection": {
      "Type": "Fail",
      "Error": "FraudDetectionJobFailed",
      "Cause": "The Glue job 'fraud_detection' failed."
    },

    "Start_pricing_trends": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun",
      "Parameters": {
        "JobName": "pricing_trends"
      },
      "ResultPath": "$.PricingTrendsJobRunId",
      "Next": "Wait_pricing_trends"
    },
    "Wait_pricing_trends": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check_pricing_trends"
    },
    "Check_pricing_trends": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
      "Parameters": {
        "JobName": "pricing_trends",
        "RunId.$": "$.PricingTrendsJobRunId.JobRunId"
      },
      "ResultPath": "$.PricingTrendsStatus",
      "Next": "Evaluate_pricing_trends"
    },
    "Evaluate_pricing_trends": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PricingTrendsStatus.JobRun.JobRunState",
          "StringEquals": "SUCCEEDED",
          "Next": "Start_customer360_crawler"
        },
        {
          "Variable": "$.PricingTrendsStatus.JobRun.JobRunState",
          "StringEquals": "FAILED",
          "Next": "Fail_pricing_trends"
        }
      ],
      "Default": "Wait_pricing_trends"
    },
    "Fail_pricing_trends": {
      "Type": "Fail",
      "Error": "PricingTrendsJobFailed",
      "Cause": "The Glue job 'pricing_trends' failed."
    },

    "Start_customer360_crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "customer360_crawler"
      },
      "Next": "Success State"
    },
    "Success State": {
      "Type": "Pass",
      "Result": "All Glue Jobs & Crawler Completed Successfully",
      "End": true
    }
  }
}
